.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.link {
    text-decoration: none;
}
.form_search {
    display: flex;
    justify-content: center;
}

.card {
    width: 260px;
    margin: 10px 10px 0 0;
    position: relative;
    background-color: #a68ae1 !important;
}

.product_card {
    position: relative;
    background-color: #a68ae1 !important;
    padding: 30px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, .5);
}

.product_card_title {
    height: auto;
    width: 100%;
}
.product_img {
    width: 100%;
    min-width: 200px;
}

.product_card_right {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product_card_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_id{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ea0808;
}