.nav {
  background-color: #ac75e8 !important;
}
.nav_wrapper {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.nav_right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  color: #e12424 !important;
}

.link {
  margin-right: 20px!important;
  color: #1a36a6;
  text-decoration: none;
  cursor: pointer
}

.profile_name {
  color: darkred;
  cursor: pointer;
}

.nav_profile {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}