.register_wrapper {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    background-color: #bde161;
    padding: 10px;
}

.auth_title {
    padding: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
    background-color: #7762d7;
    text-align: center;
    color: #78e368;
}